{
  "singleQuote": true,
  "printWidth": 120,
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto",
  "bracketSpacing": true,
  "useTabs": false,
  "jsxSingleQuote": false,
  "tabWidth": 2,
  "endOfLine": "auto"
}
